{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        

{% if articles %}
{% for article in articles_page.object_list %}        

    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h4>{{ article.title }} </h4></a>
		<div style="text-align:right; color: #777777"><i>{{ article.date.strftime("%A, %d %B %Y") }}</i> | <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></div>
		<br/>
        <p><div class="summary">{{ article.summary }}<div style="text-align:right"><a class="btn-form" href="{{ SITEURL }}/{{ article.url }}">read more</a></div></div></p>
		
    </div>	
			<hr />	
    {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
	
        {% include 'pagination.html' %}
    {% endif %}

{% endfor %} {# For article #}
{% endif %} {# If articles #}

</body>
{% endblock content %}